.head-container {
    margin-left: 50px;
    margin-right: 50px;
}
.words-container {
    background-image: url(../images/cork-board.png);
    border: 2px outset gray;
    margin-left: 50px;
    margin-right: 50px;
    height: 500px;
    width: 800px;
}
#h1 {
    font-family: 'Bangers';
    font-size: 50px;
    color: whitesmoke;
    margin-left: 50px;
    text-decoration: underline;
}
#title-h2 {
    font-family: 'Bangers';
    color: whitesmoke;
    margin-left: 100px; 
    font-size: 40px;
}
.rightGuess {
    font-family: 'Bangers';
    color: whitesmoke;
    font-size: 30px;
    margin-left: 50px;
}
.wrongGuess {
    font-family: 'Bangers';
    color: whitesmoke;
    font-size: 30px; 
    margin-left: 50px;
}